<style type="text/css">
    .box { padding: 1em; margin: .5em; display: block; width: 40em; }
    
    
    .box { color: black; text-decoration: none; }
    a:link.box .linkylink { color: blue; text-decoration: underline; }
    a:visited.box .linkylink { color: purple; text-decoration: underline; }
    
    code.hash { color: #aaa; }
</style>
<h1>Deploys</h1>

{% for job in jobs %}
{% set color = {True: '#afa', False: '#faa', None: '#ddd'}[job.success] %}
<a href="/jobs/{{job.id}}" class="box" style="background-color: {{color}};">
    <div style="float: right">{{job.author or ''}}<br />{{job.created_at|timesince}}</div>
    <b>{{job.message or ''}}</b><br />
    <code class="hash">{{job.commit_hash}}</code>
</a>
{% endfor %}

<p><a href="https://github.com/victorykit/dudley">Powered by Dudley.</a></p>
