<!DOCTYPE html>
<html>
<head>
  <title>Dudley</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <meta http-equiv="refresh" content="5">
</head>
<body>
<div class="content">
  <h1>Deploys</h1>

  {%if ci_link%} <p><a href="{{ci_link}}" class="ci_link">View build status...</a></p> {% endif %}

  {% for job in jobs %}
  {% set class = {True: 'successful_build', False: 'failed_build', None: 'building'}[job.success] %}
  {% set description = {True: 'PASS', False: 'FAIL', None: 'building'}[job.success] %}
    <a href="/jobs/{{job.id}}" class="box {{class}}">
      <div class="build_status">{{description}}</div>
      <div class="commit_hash">
        <div class="commit_message">{{job.message or ''}}</div>
        <code class="hash">{{job.commit_hash}}</code>
      </div>
      <div class="author_time">
        <div class="time_since">{{job.created_at|timesince}}</div>
        <div class="author">{{job.author or ''}}</div>
      </div>
      <div style="clear: both;"></div>
    </a>
  {% endfor %}

  <div class="footer">
    <a href="https://github.com/victorykit/dudley">Powered by Dudley.</a>
  </div>
</div>
</body>
</html>
