<h1>job {{job.commit_hash}}</h1>

{% for build in builds %}

<h2>build {{build.id}}</h2>

<pre id="build_{{build.id}}">{{build.log|unconsole}}</pre>

{% endfor %}

<script src="//d3dy5gmtp8yhk7.cloudfront.net/1.12/pusher.min.js"></script>
<script type="text/javascript">
var pusher = new Pusher('{{pusher_key}}'); // uses your API KEY
function updateFromChannel(data) {
document.getElementById('build_' + data.build_id).innerHTML += data.text.replace('\033[1m', '<b>').replace('\033[0m', '</b>');
}
{% for build in builds %}
pusher.subscribe('build_{{build.id}}').bind('update', updateFromChannel);
{% endfor %}
</script>
